.buttons{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 50px;
}
#exampleInputTextPost1{
  height: 200px;
  display:inline-block;
  padding:15px 10px;
  line-height:140%;
}
